<app-top-nav></app-top-nav>

<div fxLayout="row" fxLayoutAlign="center center" class="login-form-wrapper">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>
        Welcome to Product Sparrer
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="invalid-credentials" *ngIf="!validCredentials">
        Invalid username and/or password
      </p>
      <form [formGroup]="form" novalidate>
        <mat-form-field>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loggedOutToast>
  <span>
    You've been successfully logged-out
  </span>
</ng-template>
