<app-top-nav></app-top-nav>

<button
  mat-fab
  matTooltip="Create ticket"
  class="create-button"
  (click)="createTicket()">
  <mat-icon>add</mat-icon>
</button>

<button
  mat-fab
  matTooltip="Deploy all tickets"
  class="deploy-button"
  (click)="deployTickets()"
  color="warn">
  <mat-icon>email</mat-icon>
</button>

<div class="table-wrapper">
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Quick search">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.type }} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.status }} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.subject }}</td>
    </ng-container>
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef> Body </th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.body | slice:0:70 }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let ticket">
        <div>
          <button mat-icon-button color="primary" (click)="updateTicket(ticket)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTicket(ticket.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p *ngIf="dataLength === 0">
    You have not created any tickets yet.
    Click on the 'add' button on your right to create the first one.
  </p>

  <mat-paginator
    [length]="dataLength"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 15, 20]">
  </mat-paginator>

</div>

<ng-template #loggedInToast>
  <span>
    You've been successfully logged-in
  </span>
</ng-template>
