.mat-table {
  width: 100%;
  margin-bottom: 32px;
}

.table-wrapper{
  margin: auto;
  max-width: 80%;
  margin-top: 32px;
}

.mat-header-cell {
  color: white;
  background-color: #3F51B5;
}

.create-button{
  position: fixed;
  top: 96px;
  right: 32px;
}

.deploy-button{
  position: fixed;
  top: 96px;
  left: 32px;
}
