.mat-table {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.table-wrapper{
  margin: auto;
  max-width: 80%;
}

.mat-header-cell {
  color: white;
  background-color: #3F51B5;
}

.create-button{
  position: fixed;
  top: 90vh;
  right: 50%;
  left: 50%;
}
